:root {
    --primary1: #1C191A;
    --secondary: #F4B324;
    --text: #F6E7D8;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    color: var(--text);

    font-family: "Farro", sans-serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: var(--primary1);
    width: 100%;
    height: 100%;
}

.emphasize {
    padding: 2px;

    background-color: var(--secondary);

    color: var(--primary1);
}

.image-container {
    height: 70vh;

    position: relative;
    z-index: 0;

    background-size: cover;
    background-position: 0 50%;
    background-attachment: fixed;
}

#img1.image-container {
    background-image: url("images/minimized-img/home-img-bg-min.jpg");

}

#img2.image-container {
    background-image: url("images/minimized-img/home-img-bg2-min.jpg");
}

#img3.image-container {
    background-image: url("images/minimized-img/home-img-bg3-min.jpg")
}

/* Navbar */

#navbar.container {
    width: 100%;
    height: 129.8px;
}

#navbar > .container {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    align-items: center;

    box-shadow: 0 0 10px black;
    z-index: 10;
}

.navbar-list {
    position: absolute;

    display: flex;
    align-items: center;

    left: 0;

    /* transition: 0.5s ease-in all; */
}

.navbar-item {
    padding: 16px;

    list-style: none;
}

.navbar-item a {
    font-size: 20px;
}

.navbar-item a.active {
    border-bottom: 3px solid var(--secondary);
}

.navbar-item:has(img) {
    padding: 0 48px;
}

.navbar-item img {
    width: 156.25px;
    height: 125px;

    object-fit: cover;
    object-position: 0 -15.625px;
}

.navbar-item a {
    width: 100%;
    height: 100%;

    cursor: pointer;

    text-decoration: none;
    font-weight: 700;
    
    transition: 0.2s ease-out;
}

.navbar-item a:hover {
    color: var(--secondary);
    transition: 0.1s ease;
}

/* Hero */

#hero.container {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 129.8px);

    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;

    position: relative;

    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0% , rgba(0, 0, 0, 1) 35%,  rgba(0, 0, 0, 0.5) 100%), url("images/new-hero-img.jpeg"); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("images/minimized-img/hero-img-min.jpeg");
    background-repeat: no-repeat;
    background-size: cover, 100% auto;
    background-position: center, 60% 60%;
    background-attachment: fixed;
}

.hero-container {
    margin-left: 80px;

    width: calc(40% - 5rem);

    z-index: 2;
}

.hero-container > h1 {
    text-transform: capitalize;

    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 4rem;

    margin-bottom: 48px;

    color: var(--text)
}

.hero-container > p {
    font-weight: 400;

    margin-bottom: 16px;
}

.hero-container button {
    padding: 16px 27px 16px 24px;

    font-size: 16px;
    font-weight: 400;

    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0);

    border: 0;
    border-left: 3px solid var(--secondary);

    transition: all 0.4s ease-out;

    cursor: pointer;

    position: relative;
    overflow: hidden;

    z-index: 1;
}

.hero-container button::before {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background-color: var(--secondary);

    transition: width 0.2s ease-in-out;

    border-radius: 0;

    z-index: -1;
}

.hero-container button:hover {
    color: var(--primary1);
}

.hero-container button:hover::before {
    width: 100%;
}

#scrollDownButton {
    position: absolute;

    bottom: 48px;
    left: 50%;

    /* transform: translateX(-50%); */

    display: grid;
    grid-template-columns: 1fr;

    cursor: pointer;
}

#scrollDownButton i {
    grid-area: 1/1;
    transition: all 0.4s ease;

    font-size: 20px;
}

#scrollDownButton:hover i{
    color: var(--secondary);
}

#scrollDownButton:hover i:nth-child(1) {
    transform: scale(1.5);
    transition: all 0.2s ease;
}

#scrollDownButton:hover i:nth-child(2) {
    transform: scale(1.5);
    transition: all 0.2s ease;
}

/* About Us */

#about-us.container {
    width: 100%;
    min-height: 70vh;

    padding: 80px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0px 0px 10px black;

    position: relative;

    z-index: 1;
}

#about-us > .col:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us > .col:nth-child(2) {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    padding-right: 80px;
}

#about-us > .col:nth-child(1) img {
    width: 80%;

    aspect-ratio: 4/3;
    object-fit: cover;
}

#about-us > .col:nth-child(2) h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 3rem;

    margin-bottom: 64px;
}

#about-us > .col:nth-child(2) p {
    width: 100%;

    text-align: left;

    margin-bottom: 24px;
}

#about-us > .col:nth-child(2) > a > button {
    padding: 16px 27px 16px 24px;

    font-size: 16px;
    font-weight: 400;

    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0);

    border: 0;
    border-left: 3px solid var(--secondary);

    transition: all 0.4s ease-out;

    cursor: pointer;

    position: relative;
    overflow: hidden;

    z-index: 1;
}

#about-us > .col:nth-child(2) > a > button::before {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background-color: var(--secondary);

    transition: width 0.2s ease-in-out;

    border-radius: 0;

    z-index: -1;
}

#about-us > .col:nth-child(2) > a > button:hover {
    color: var(--primary1);
}

#about-us > .col:nth-child(2) > a > button:hover::before {
    width: 100%;
}

/* Favorite Menu */

#fav-menu.container {
    width: 100%;
    min-height: 70vh;

    padding: 80px;

    box-shadow: 0px 0px 10px black;

    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;

    z-index: 10;
}

#fav-menu > .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 112px;
}

#fav-menu > .col-1 h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 3rem;

    margin-bottom: 64px;
}

#fav-menu > .col-1 p {
    margin-bottom: 24px;
}

#fav-menu > .col-1 button {
    padding: 16px 27px 16px 24px;

    font-size: 16px;
    font-weight: 400;

    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0);

    border: 0;
    border-left: 3px solid var(--secondary);

    transition: all 0.4s ease-out;

    cursor: pointer;

    position: relative;
    overflow: hidden;

    z-index: 1;
}

#fav-menu > .col-1 button::before {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background-color: var(--secondary);

    transition: width 0.2s ease-in-out;

    border-radius: 0;

    z-index: -1;
}

#fav-menu > .col-1 button:hover {
    color: var(--primary1);
}

#fav-menu > .col-1 button:hover::before {
    width: 100%;
}

#fav-menu > .col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fav-menu > .col-2 .img-gallery-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 24px;
}

#fav-menu > .col-2 .img-container {
    width: 224px;
    
    aspect-ratio: 1/1;

    position: relative;

    overflow: hidden;
}

#fav-menu > .col-2 img {
    width: 100%;

    aspect-ratio: 1/1;

    object-fit: cover;

    transition: all 0.2s ease-out;
}

#fav-menu > .col-2 p {
    position: absolute;
    width: 100%;

    text-align: center;

    display: block;

    font-family: "Merriweather", serif;
    font-size: 16px;
    text-shadow: 0 0 10px black;

    top: 50%;
    right: calc(100% - 8px);

    transform: translateY(-50%);
    
    box-shadow: 0 0 10px var(--primary1);

    background-color: var(--secondary);

    padding: 4px 8px;

    transition: all 0.2s ease-in-out;
}

#fav-menu > .col-2 .img-container:hover img {
    filter: blur(8px);
    -webkit-filter: blur(8px);

    transform: scale(1.01);
}

#fav-menu > .col-2 .img-container:hover p {
    right: 0;
}

/* Testimonials */

#testimony.container {
    width: 100%;

    padding: 80px 0;

    position: relative;

    box-shadow: 0 0 10px black;

    z-index: 10;
}

#testimony h2 {
    width: 100%;
    
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 3rem;

    text-align: center;

    margin-bottom: 64px;
}

#testimony .cards {
    width: 100%;
    height: 100%;

    padding: 0 80px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#testimony .card-container {
    padding: 48px 32px;
    margin: 0 64px;

    text-align: center;

    background-color: var(--primary1);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#testimony .card-container p:nth-child(1) {
    font-size: 48px;
    font-weight: 700;

    color: rgba(247, 232, 218, 0.1);
}

#testimony .card-container p:nth-child(2) {
    font-size: 20px;

    margin-bottom: 8px;
}

#testimony .card-container p:nth-child(3) {
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 400;

    color: var(--secondary);
}

/* Visit Us */

#visit-us.container {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;

    position: relative;

    z-index: 10;

    box-shadow: 0 0 10px black;
}

#visit-us h2 {
    width: 100%;
    
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 3rem;

    text-align: center;

    margin-bottom: 64px;
}

#visit-us .row {
    width: 100%;
    height: 100%;   

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#visit-us .row > .col-1 {
    width: 100%;
    height: 100%;

    padding-left: 80px; 

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#visit-us .row > .col-1 > p{
    width: 100%;

    font-weight: 700;
    font-size: 48px;

    text-align: center;

    margin-bottom: 32px;
}

#visit-us .row > .col-1 .centered-list {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: auto auto;

    margin-bottom: 48px;
}

#visit-us .row > .col-1 .centered-list li {
    font-size: 32px;
    font-weight: 300;

    list-style-type: none;
}

#visit-us .row > .col-1 .centered-list > .left-list li{
    text-align: right;
}

#visit-us .row > .col-1 .container {
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#visit-us .row > .col-1 .container > p {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

#visit-us .row > .col-1 .container > p:nth-child(2) {
    margin-bottom: 8px;
}

#visit-us .row > .col-1 .container i {
    font-size: 20px;

    margin-right: 8px;

    cursor: pointer;

    transition: all 0.4s ease;
}

#visit-us .row > .col-1 .container i:hover {
    color: var(--secondary);

    transition: all 0.1s ease;
}

#visit-us .row > .col-2 {
    display: flex;
    align-items: start;
    justify-content: center;

    height: 100%;
}

#visit-us .row > .col-2 iframe{
    width: 70%;
    
    aspect-ratio: 1/1;

    display: block;
}

/* Reserve */

#reserve.container {
    width: 100%;
    height: calc(100vh - 50px);
    
    padding-top: 50px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("images/minimized-img/reserve-bg-min.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center, 0% 50%;

    position: relative;
}

#reserve .content-container {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#reserve .content-container h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 5rem;

    text-align: center;

    margin-bottom: 64px;
}

#reserve .content-container button {
    padding: 16px 27px 16px 24px;

    font-size: 16px;
    font-weight: 400;

    color: var(--secondary);
    background-color: rgba(0, 0, 0, 0);

    border: 3px solid var(--secondary);

    transition: all 0.2s ease-out;

    cursor: pointer;
}

#reserve .content-container button:hover {
    color: var(--primary1);

    background-color: var(--secondary);
}

/* Footer */

#footer.container {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;
}

#footer ul {
    display: flex;
}

#footer li {
    list-style-type: none;

    padding: 0 16px;
}

#footer a {
    text-decoration: none;
    
    transition: all 0.2s ease;
}

#footer a:hover {
    color: var(--secondary)
}

#footer h1 {
    font-size: 24px;
    font-family: "Merriweather", serif;
}